<div class="page-header">
  <h3>My Likes Photos</h3>
</div>

<div>
  <div class="col-md-10">
    <% current_user.liked_photos.each do |photo| %>
        <div><img src="<%= photo.image %>"</div>
    <% end %>
  </div>
</div>
